
h1 {
  font-size: 1.3em;
}

h4 {
  display: inline-block;
}

.movies-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 400px;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  border: solid lightgrey 2px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.movies-list {
  padding-left: 5px;
  padding-right: 5px;
  width: 60%;
  color: blue;
}

.movie-listing {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.get-movie-showtimes {
  border: none;
  color: blue;
  font-weight: 600;
  font-style: italic;
}

.get-showtimes {
  border-top: solid lightgrey 2px;
  border-bottom: solid lightgrey 2px;
  background-color: blue;
  color: white;
  font-size: 1.2em;
  height: 2em;
  width: 60%;
  margin: 15px;

}
